.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.floating-box {
    
    display: inline-block;
    width: 250px;
    margin: 10px; 
    vertical-align: top;
}
.ordersToolbar {
  color: black;
  background-color: white;
}

.add-order-button {
  color: red;
}

